@model IEnumerable<Food>
@using X.PagedList
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
}

<div class="row" style="margin-bottom:400px;">
    <div class="col-12">
        <h3 class="text-center" style="margin-top:50px;">Food Items and Order Lists</h3>
        <div class="d-flex justify-content-end mb-2">
            <a class="btn btn-outline-primary" asp-action="Create" asp-controller="Foods"> + Add New</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Food Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>IsAvailable ? </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td class="text-center" style="width:50px">
                            <button type="button" class="btn btn-light btn-sm show-inventory"><i class="bi bi-chevron-right"></i></button>
                            <button type="button" class="btn btn-light btn-sm hide-inventory" style="display:none"><i class="bi bi-chevron-down"></i></button>
                        </td>
                        <td><img src="~/Pictures/@p.Picture" class="rounded-circle" style="width:40px;" /></td>
                        <td>@p.FoodName</td>
                        <td>@p.Category</td>
                        <td>@p.Description</td>
                        <td>@p.Price</td>
                        <td>@p.IsAvailable</td>
                        <td>
                            <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-controller="Foods" asp-route-id="@p.FoodId"><i class="bi bi-pencil-square"></i></a>
                            <button data-pk="@p.FoodId" type="button" class="btn btn-outline-danger btn-sm del"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr style="display:none">
                        <td class="border-end-0"></td>
                        <td colspan="8">
                            <h4>Orders</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>CustomerName</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>OrderDate</th>
                                        <th>Quantity</th>
                                        <th>TotalAmount</th>
                                        <th>
                                            <a asp-action="Create" asp-controller="Orders" asp-route-id="@p.FoodId" class="btn btn-primary btn-sm">Add</a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in p.Orders)
                                    {
                                        <tr>
                                            <td>@s.CustomerName</td>
                                            <td>@s.Phone</td>
                                            <td>@s.Email</td>
                                            <td>@s.Address</td>                                            
                                            <td>@s.OrderDate?.ToString("yyyy-MM-dd")</td>
                                            <td>@s.Quantity</td>
                                            <td>@s.TotalAmount</td>
                                            <th>
                                                <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-controller="Orders" asp-route-id="@s.OrderId"><i class="bi bi-pencil-square"></i></a>
                                                <button data-pk="@s.OrderId" type="button" class="btn btn-outline-danger btn-sm dels"><i class="bi bi-trash"></i></button>
                                            </th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            @Html.PagedListPager((IPagedList)Model, pg => Url.Action("Index", new { pg}), new PagedListRenderOptions
            {
            UlElementClasses = new string[] {"pagination", "pagination-sm"},
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always

            })
        </div>
    </div>
</div>
@section styles
    {
    <link href="~/libs/icons/font/bootstrap-icons.css" rel="stylesheet" />

}
@section scripts
    {
    <script src="~/libs/jquery/jquery.js"></script>
    <script>
        $(".del").click(function () {
            if (!confirm('Are you sure to delete?')) return;
            var btn = $(this);
            let id = $(this).data("pk");
            $.ajax({
                type: "post",
                url: "/Foods/Delete/" + id,
                dataType: "json",
                success: r => {
                    if (r.success == true) {
                        var ptr = btn.closest("tr");
                        var str = ptr.next();
                        ptr.remove();
                        str.remove();
                    }
                }
            })
        })
        $(".dels").click(function () {
            if (!confirm('Are you sure to delete?')) return;
            var btn = $(this);
            let id = $(this).data("pk");
            $.ajax({
                type: "post",
                url: "/Orders/Delete/" + id,
                dataType: "json",
                success: r => {
                    if (r.success == true) {
                        var ptr = btn.closest("tr");

                        ptr.remove();

                    }
                }
            })
        });
        $(".show-inventory").click(function () {
            $(this).closest("tr").next().toggle();
            $(this).toggle();
            $(this).next().toggle();
        });
        $(".hide-inventory").click(function () {
            $(this).closest("tr").next().toggle();
            $(this).toggle();
            $(this).prev().toggle();
        });
    </script>
}



